
<p>First Name: <%= @employee.first_name %> </p>
<p>Last Name: <%= @employee.last_name %> </p>
<p>Alias: <%= @employee.alias %> </p>
<p>Title: <%= @employee.title %> </p>
<p>Office: <%= @employee.office %> </p>
<p>Dog: <%= @employee.alias %> </p>




